<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <div class="container-fluid align-items-center">
      <%= react_component "FlashAlerts" %>
      <div class="row">
        <div class="col-6 mt-3">
          <%= link_to products_path do %>
            <%= image_tag "loadar.png", width: 200 %>
          <% end %>
        </div>
      </div>
      <hr>
      <%= yield %>
    </div>
  </body>
</html>
